# SPDX-FileCopyrightText: 2025-2026 Neptuwunium
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "Libraries/Pepper"]
	path = Libraries/Pepper
	url = https://github.com/neptuwunium/Pepper.git
[submodule "Libraries/BCDecNet"]
	path = Libraries/BCDecNet
	url = https://github.com/neptuwunium/BCDecNet.git
[submodule "Libraries/Neptune"]
	path = Libraries/Neptune
	url = https://github.com/neptuwunium/Neptune.git
